@import "tailwindcss";
@import "@nuxt/ui";

:root {
    --ui-primary: #9E2C33; 
    --ui-secondary: #F7F7F7; 
    --ui-info: #9E2C330D; 
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px; /* Adjust based on navbar height */
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}